---
layout: page
---
<!-- pages/projects.md -->
<div class="profiles">
{% if page.display_status %}
  <!-- Display categorized projects -->
  {% for status in page.display_status %}
  <a id="{{ status }}" href=".#{{ status }}">
    <h2 class="category">{{ status }}</h2>
  </a>
  {% assign categorized_profiles = page.profiles | where: "status", status %}
  {% assign sorted_profiles = categorized_profiles | sort: "importance" %}
  <!-- Generate cards for each project -->
  <div class="d-flex align-content-stretch justify-content-center flex-wrap no-gutters mx-n2 row row-cols-1 row-cols-md-3">
    {% for profile in sorted_profiles %}
      {% include my_profile.liquid %}
    {% endfor %}
  </div>
  {% endfor %}

{% else %}

<!-- Display projects without status -->

{% assign sorted_profiles = page.profiles | sort: "importance" %}

  <!-- Generate cards for each project -->

  <div class="row row-cols-1 row-cols-md-2">
    {% for profile in sorted_profiles %}
      {% include my_profile.liquid %}
    {% endfor %}
  </div>
  {% endif %}
</div>


